html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    flex: 1;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.container.header {
    flex:0;
    justify-content:space-between;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
}

.container.one {

}